# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js build output
/.next/
/out/
/build/

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Hosting
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Operating systems and editors
.DS_Store
Thumbs.db
.idea/
.vscode/
